$category0: #bf6151;
$category1: rgba(89, 136, 157, 1);
$category2: rgba(143, 155, 123, 1);
$category3: rgba(191, 183, 136, 1);
$category4: rgba(163, 151, 170, 1);
$category5: rgba(158, 105, 99, 1);
$category6: #b5997d;