%centercolumn {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.source-and-credit {
	@extend %centercolumn;
	@include rhythm(0, 0, 0, 1);
}

.igraphic-graphic.witnesses .witnesses-section,
.igraphic-graphic.witnesses .evidence-section {
	@extend %centercolumn;
}
