.igraphic-header {
	width: 100%;
	overflow: hidden;
	position: relative;

	@include trailing-border(2px, 0);
	border-color: #CCC;
	border-width: 1px;

	@include rhythm(1/2, 0, 1/2, 1);
	padding-left: 0.5em;
	padding-right: 0.5em;

	.wrapper {
		position: relative;
		@include adjust-font-size-to($s3);
	}

	svg {
		height: 100%;
		fill: rgb(47, 47, 47);
	}

	a:hover {
		svg {
			fill: #CCC;
		}
	}

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	.title {
		text-align: center;
		font-family: $sansSerif;
		text-transform: uppercase;
		color: rgb(153, 153, 153);
		@include adjust-leading-to(1);
	}

	.social {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;

		svg {
			padding-left: 1em;
		}
	}

}

.igraphic-hed {
	color: rgb(47, 47, 47);
	font-family: $serifSuperStrong;
	@include adjust-font-size-to($s8, 2);
	text-align: center;
	@extend %centercolumn;
}

.igraphic-subhed {
	@include adjust-font-size-to($s4);
	@include margin-leader(1);
	@include margin-trailer(2);
	@extend %centercolumn;
}