$category0: #bf6151;
$category1: #90b1c0;
$category2: #c2cca1;
$category3: #fdcd80;
$category4: #faba7d;
$category5: #ccb4c8;
$category6: #b5997d;

ul.categories {

	width: 100%;
	overflow: hidden;

	li {
		.categoryNumber0 { background-color: $category0; }
		.categoryNumber1 { background-color: $category1; }
		.categoryNumber2 { background-color: $category2; }
		.categoryNumber3 { background-color: $category3; }
		.categoryNumber4 { background-color: $category4; }
		.categoryNumber5 { background-color: $category5; }
		.categoryNumber6 { background-color: $category6; }

		float: left;
		padding-right: 1em;
	}

}

ul.list {

	> li {
		@include rhythm(1, 0, 0, 2);
	}

	.categoryNumber0 { .title { background-color: $category0; } }
	.categoryNumber1 { .title { background-color: $category1; } }
	.categoryNumber2 { .title { background-color: $category2; } }
	.categoryNumber3 { .title { background-color: $category3; } }
	.categoryNumber4 { .title { background-color: $category4; } }
	.categoryNumber5 { .title { background-color: $category5; } }
	.categoryNumber6 { .title { background-color: $category6; } }

	.title {
		font-family: $sansSerifStrong;
		font-weight: normal;
		@include adjust-font-size-to($s5);
		@include trailing-border(2px, 0);
		border-color: #CCC;
		border-width: 1px;
		@include rhythm(0, 0, 0, 1/2);
	}

	.label {
		font-family: $sansSerifStrong;
		font-weight: normal;
		@include adjust-font-size-to($s3p5);
	}

	.details {
		width: 100%;
		overflow: hidden;

		.text-with-photo {
			max-width: 80%;
			float: left;
		}

		.photo {
			max-width: 20%;
			float: right;
		}
	}

	.associated-title {

		span {
			font-family: $sansSerif;
			@include adjust-font-size-to($s3);
			text-transform: uppercase;
			color: #999999;
		}
		@include rhythm(1/2, 0, 0, 0);
	}

	.associated-list {
		width: 100%;
		overflow: hidden;
		@include rhythm(0, 0, 0, 1/2);

		li {
			float: left;
			margin-right: 1em;

			a {
				@include adjust-font-size-to($s3p5);
			}
		}
	}

}