
.igraphic-mast {
	border-bottom: 1px solid #ccc;
	position: fixed;
	width: 100%;
	background: white;
	z-index: 300;
	font-size: 100%;

	a {
			text-decoration: none;
			display: inline-block;
		}

	.wrapper {
		position: relative;
		padding: 0.5em;
		min-height: 2.25em;
	}

	svg {
		height: 1em;
	}

	svg.full {
		display: none;

		@include breakpoint(40em) {
			display: block;
		}
	}

	svg.bug {
		display: block;

		@include breakpoint(40em) {
			display: none;
		}		
	}


	.igraphic-subnav {
		display: none;
		@include adjust-font-size-to($s3);

		@include breakpoint(40em) {
			display: block;
		}

		text-align: center;
		font-family: $sansSerif;

		> * {
			display: inline-block;
		}
	}

	.igraphic-subnav--title {
		font-weight: bold;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #9B1518;
	}

	.igraphic-subnav--linklist li {
			display: inline-block;
			padding-left: 0.5em;

			a {
				color: #444;
			}

			a:hover {
				color: #9B1518;
			}
	}

	.logo {
		position: absolute;

		a:hover {
			opacity: 0.7;
		}
	}

	.social {
		position: absolute;
		right: 0.75em;
		top: 0.5em;

		a {
			padding-left: 1em;

			&:hover {
				opacity: 0.7;
			}
		}
	}

}

