.igraphic-graphic.days .list {

	> li {

		@include trailing-border(2px, 0);
		border-color: rgb(204, 204, 204);
		border-width: 1px;
		@include margin-trailer(2);

		& > * {
			padding-left: 1em;
		}

		.bar {
			background: rgb(239, 239, 239);
			@include trailing-border(2px, 0);
			border-color: rgb(204, 204, 204);
			border-width: 1px;
			color: rgb(68, 68, 68);

			span {
				font-family: $sansSerifStrong;
				@include adjust-font-size-to($s3);
			}
		}

	}

}