@import "compass";
@import "compass/typography/vertical_rhythm";
@import "breakpoint";

@import "common/css/_type";

%centercolumn {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

@import "common/css/components/_IGraphicMast";
@import "common/css/components/_IGraphicHeader";