.igraphic-graphic.cards {

	%centercolumn {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	.igraphic-hed {
		color: rgb(47, 47, 47);
		font-family: $serifSuperStrong;
		@include adjust-font-size-to($s8, 2);
		text-align: center;
		@extend %centercolumn;
	}

	.igraphic-subhed {
		@include adjust-font-size-to($s4);
		@include margin-leader(1);
		@include margin-trailer(2);
		@extend %centercolumn;
	}

	.days {
		@extend %centercolumn;

		.day {

			& > * {
				padding-left: 1em;
			}

			@include trailing-border(2px, 0);
			border-color: rgb(204, 204, 204);
			border-width: 1px;
			@include margin-trailer(2);

			h3 {
				background: rgb(239, 239, 239);
				@include trailing-border(2px, 0);
				border-color: rgb(204, 204, 204);
				border-width: 1px;
				color: rgb(68, 68, 68);

				span {
					font-family: $sansSerifStrong;
					@include adjust-font-size-to($s3);
				}
			}

			h4 {
				font-family: $sansSerifStrong;
				@include adjust-font-size-to($s3);
				color: rgb(153, 153, 153);
				text-transform: uppercase;
				@include margin-leader(1);
			}

			ul {
				width: 100%;
				overflow: hidden;
				@include margin-trailer(1);

				li {
					float: left;
					padding-right: 2em;
					@include adjust-font-size-to($s3p5);
				}
			}
		}
	}

	.source-and-credit {
		@extend %centercolumn;
	}
	
}